<!DOCTYPE html>
{% load static %} 

<html>
<head>
    <title>
        {% block title %}{% endblock %}
    </title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    {% block extra_head %}{% endblock %}
</head>
<body>
    <nav class="bg-gray-800 p-4">
        <div class="container mx-auto flex justify-between items-center">
            <div class="flex">
                <a class="text-white font-bold" href={% url 'app:index' %}>Home</a>
                {% if user.is_authenticated %}
                    <a class="text-gray-300 ml-4 hover:text-white" href={% url 'app:calendars' %}>My Calendars</a>
                    <a class="text-gray-300 ml-4 hover:text-white" href={% url 'app:events' %}>My Events</a>
                    <a class="text-gray-300 ml-4 hover:text-white" href={% url 'app:create_event' %}>Create Event</a>
                {% endif %}
            </div>
            <div class="flex">
                {% if user.is_authenticated %}
                    <a class="text-gray-300 ml-4 hover:text-white" href={% url 'app:profile' %}>
                        <div class="inline-block">
                            Profile
                            {% if user.userprofile.profile_picture %}
                                <img src="{{ user.userprofile.profile_picture.url }}" alt="Profile Picture" class="rounded-full h-6 w-6 mb-1 mx-auto inline-block">
                            {% endif %}
                        </div>
                    </a>
                    <a class="text-gray-300 ml-4 hover:text-white" href={% url 'app:logout' %}>Logout</a>
                {% else %}
                    <a class="text-gray-300 ml-4 hover:text-white" href={% url 'app:login' %}>Login</a>
                    <a class="text-gray-300 ml-4 hover:text-white" href={% url 'app:register' %}>Register</a>
                {% endif %}
            </div>
        </div>
    </nav>

    <div class="mx-[100px]">
        {% block content %}{% endblock %}
    </div>

</body>
</html>
