{% extends 'app/base.html' %}
{% load static %}
{% load template_tags %}

{% block title %}
    Create an Event
{% endblock %}

{% block content %}

<div class="max-w-xl mx-auto p-8 rounded-lg shadow-lg my-5">
    <h2 class="text-2xl font-bold mb-4">Create an Event</h2>
    <form class="w-full max-w-lg" method="post">
        {% csrf_token %}
        {% custom_input "Event Name" "name" "text" required="True" %}
        {% custom_textarea "Description" "description" required="True" %}
        {% custom_input "Search for a place" "pac-input" "text" input_class="controls" div_class="search-container"%}
        <div id="map" style="height: 400px;" class="mb-4"></div>
        {% custom_input "Latitude" "location_latitude" "text" "55.873" hidden="True" %}
        {% custom_input "Longitude" "location_longitude" "text" "-4.289" hidden="True" %}
        {% custom_input "Start Time" "start_date_time" "datetime-local" %}
        {% custom_input "End Time" "end_date_time" "datetime-local" %}
        <div class="mb-4">
            <label for="attendees" class="block text-gray-700 text-m font-bold mb-2">Attendees</label>
            {{ form.attendees }}
        </div>
        <div class="mb-4">
            <label for="recurring" class="block text-gray-700 text-m font-bold mb-2">Repeat this event</label>
            <input type="checkbox" id="recurring" name="recurring" value="recurring">
        </div>
        <div class="mb-4">
            <label for="recurring_frequency" class="block text-gray-700 text-m font-bold mb-2">Repeat frequency</label>
            {{ form.recurring_frequency }}
        </div>
        {% error_messages messages %}
        {% custom_button "Create Event" "submit" "bg-blue-500 hover:bg-blue-700" %}
    </form>
</div>



<script>
    function initMap() {
        var uni = { lat: parseFloat(document.getElementById('location_latitude').value), lng: parseFloat(document.getElementById('location_longitude').value) };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 13,
            center: uni,
            mapTypeId: 'satellite'
        });

        var marker = new google.maps.Marker({
            position: uni,
            map: map,
            draggable: true
        });

        marker.addListener('dragend', function(event) {
            document.getElementById('location_latitude').value = event.latLng.lat().toString();
            document.getElementById('location_longitude').value = event.latLng.lng().toString();
        });

        var input = document.getElementById('pac-input');

        var searchBox = new google.maps.places.SearchBox(input);

        // Bias the SearchBox results towards current map's viewport.
        map.addListener('bounds_changed', function() {
            searchBox.setBounds(map.getBounds());
        });

        // more details for that place.
        searchBox.addListener('places_changed', function() {
            var places = searchBox.getPlaces();

            if (places.length == 0) {
                return;
            }

            marker.setMap(null);

            places.forEach(function(place) {
                if (!place.geometry) {
                    console.log("Returned place contains no geometry");
                    return;
                }
                var location = place.geometry.location;
                marker = new google.maps.Marker({
                    position: location,
                    map: map,
                    title: place.name,
                    draggable: true
                });
                map.setCenter(location);
                document.getElementById('location_latitude').value = location.lat().toString();
                document.getElementById('location_longitude').value = location.lng().toString();

                marker.addListener('dragend', function(event) {
                    input.value = '';
                    document.getElementById('location_latitude').value = event.latLng.lat().toString();
                    document.getElementById('location_longitude').value = event.latLng.lng().toString();
                });
            });
        });
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&libraries=places&callback=initMap"></script>

{% endblock %}