{% extends 'app/base.html' %}
{% load static %}
{% load template_tags %}

{% block title %}
    Create an Event
{% endblock %}

{% block content %}

<div class="max-w-4xl mx-auto p-8 rounded-lg shadow-lg my-5">
    <h2 class="text-2xl font-bold mb-4">Create an Event</h2>
    {% create_event_form form%}
</div>



<script>
    function initMap() {
        var uni = { lat: parseFloat(document.getElementById('location_latitude').value), lng: parseFloat(document.getElementById('location_longitude').value) };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 13,
            center: uni,
            mapTypeId: 'satellite'
        });

        var marker = new google.maps.Marker({
            position: uni,
            map: map,
            draggable: true
        });

        marker.addListener('dragend', function(event) {
            document.getElementById('location_latitude').value = event.latLng.lat().toString();
            document.getElementById('location_longitude').value = event.latLng.lng().toString();
        });

        var input = document.getElementById('pac-input');

        var searchBox = new google.maps.places.SearchBox(input);

        // Bias the SearchBox results towards current map's viewport.
        map.addListener('bounds_changed', function() {
            searchBox.setBounds(map.getBounds());
        });

        // more details for that place.
        searchBox.addListener('places_changed', function() {
            var places = searchBox.getPlaces();

            if (places.length == 0) {
                return;
            }

            marker.setMap(null);

            places.forEach(function(place) {
                if (!place.geometry) {
                    console.log("Returned place contains no geometry");
                    return;
                }
                var location = place.geometry.location;
                marker = new google.maps.Marker({
                    position: location,
                    map: map,
                    title: place.name,
                    draggable: true
                });
                map.setCenter(location);
                document.getElementById('location_latitude').value = location.lat().toString();
                document.getElementById('location_longitude').value = location.lng().toString();

                marker.addListener('dragend', function(event) {
                    input.value = '';
                    document.getElementById('location_latitude').value = event.latLng.lat().toString();
                    document.getElementById('location_longitude').value = event.latLng.lng().toString();
                });
            });
        });
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&libraries=places&callback=initMap"></script>

{% endblock %}