{% extends 'app/base.html' %}
{% load static %}

{% block title %}
    Events
{% endblock %}

{% block content %}

<script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}"></script>
<script src="{% static 'js/reverseGeocode.js' %}" data-api-key="{{ google_maps_api_key }}" async defer></script>


<div>
    <div class="bg-gray-200 p-4 rounded shadow-md ml-2" >
        <div class="container mx-auto mt-5">
            <form class="form-inline my-2 my-lg-0" action="" method="get">
                {% csrf_token %}
                <div class="pt-2 relative mx-auto text-gray-600">
                    <input type="search" id="default-search" name="search-bar" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required />
                    <button type="submit" class="bg-blue-500 hover:bg-blue-700 absolute right-2 bottom-1 text-white text-sm py-1 px-2 rounded">Search</button>
                </div>
            </form>
            {% if events %}
            <div class="events-list">
                {% for e in events %}
                <div class="bg-gray-400 rounded shadow-md ml-2 mb-4">
                    <h3>{{ e.description }}</h3>
                    <p>Start: {{ e.start_date_time }}</p>
                    <p id="location-{{ forloop.counter }}"></p>
                    <script>
                        function waitForReverseGeocodeAndExecute() {
                            if (typeof reverseGeocode === "undefined") {
                                setTimeout(waitForReverseGeocodeAndExecute, 100);
                            } else {
                                {% for e in events %}
                                if ({{ e.location_latitude }} && {{ e.location_longitude }}) {
                                    reverseGeocode({{ e.location_latitude }}, {{ e.location_longitude }}, function(address) {
                                        document.getElementById('location-{{ forloop.counter }}').textContent = address;
                                    });
                                }
                                {% endfor %}
                            }
                        }
                        waitForReverseGeocodeAndExecute();
                        </script>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
    <div class="max-w-xl mx-auto p-8 rounded-lg shadow-lg my-5">
        <h2 class="text-2xl font-bold mb-4">Create an Event</h2>
        <form class="w-full max-w-lg" method="post">
            {% csrf_token %}      
            <div class="mb-4">
                <label for="name" class="block text-gray-700 text-m font-bold mb-2">Event Name</label>
                <input type="text" id="id_username" name="username" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
            </div>
            <div class="mb-4">
                <label for="description" class="block text-gray-700 text-m font-bold mb-2">Description</label>
                <textarea id="id_description" name="description" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required></textarea>
            </div>
            <div class="mb-4">
                <label for="location_latitude" class="block text-gray-700 text-m font-bold mb-2">Latitude</label>
                <div>
                    {{ form.location_latitude }}
                </div>
            </div>
            <div class="mb-4">
                <label for="location_longitude" class="block text-gray-700 text-m font-bold mb-2">Longitude</label>
                <div>
                    {{ form.location_longitude }}
                </div>
            </div>
            <div class="mb-4">
                <label for="start_date_time" class="block text-gray-700 text-m font-bold mb-2">Start Time</label>
                <div>
                    {{ form.start_date_time }}
                </div>
            </div>
            <div class="mb-4">
                <label for="end_date_time" class="block text-gray-700 text-m font-bold mb-2">End Time</label>
                <div>
                    {{ form.end_date_time }}
                </div>
            </div>
            <div class="mb-4">
                <label for="owner" class="block text-gray-700 text-m font-bold mb-2">Event Owner</label>
                <div>
                    {{ form.owner }}
                </div>
            </div>
            <div class="mb-4">
                <label for="attendees" class="block text-gray-700 text-m font-bold mb-2">Attendees</label>
                <div>
                    {{ form.attendees }}
            </div>
            </div>
            <div class="mb-4">
                <label for="recurring" class="block text-gray-700 text-m font-bold mb-2">Repeat this event</label>
                <input type="checkbox" id="recurring" name="recurring" value="recurring">
            </div>
                <div class="mb-4">
                <label for="recurring_frequency" class="block text-gray-700 text-m font-bold mb-2">Repeat frequency</label>
                <div>
                    {{ form.recurring_frequency }}
                </div>
            </div>
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit">Create Event</button>
        </form>
    </div>
</div>
{% endblock %}