{% extends 'app/base.html' %}
{% load template_tags %}
{% block title %}
Event {{ event.name }}
{% endblock %}
{% block content %}
<div class="max-w-4xl mx-auto p-8 rounded-lg shadow-lg my-5">

{% event_page_card event attendees %}

{% if form.calendars.field.queryset%}
<div>
    <form method="post">
        {% csrf_token %}
        {% for calendar in form.calendars.field.queryset %}
            <div class="flex items-center mb-2"> 
                <input type="checkbox" id="calendar-{{ calendar.id }}" name="calendars" value="{{ calendar.id }}" {% if event in calendar.events.all  %}checked{% endif %} class="mr-2" style="transform: scale(1.5); margin-right: 10px;">
                <label for="calendar-{{ calendar.id }}" class=" {{ calendar.colour }} px-4 py-2 rounded-xl">{{ calendar.name }}</label>
            </div>
        {% endfor %}
        {% custom_button "Add to Calendars" "submit" "bg-blue-500 hover:bg-blue-700 mb-3" %}
    </form>
</div>
{% endif%}

<a href="{% url 'app:event_delete' event.id %}">
    {% custom_button "Delete Event" "button" "bg-red-500 hover:bg-red-700" %}
</a>

</div>

{% endblock%}
