{% extends 'app/base.html' %}

{% block title %}
    Index Page
{% endblock %}
{% block content %}
<div class="mx-auto mt-5 flex justify-center">
    {% if user.is_authenticated %}
        {% if flag %}
            <div class="flex">
                <div class="mr-10">
                    <h1 class="text-3xl font-bold mb-2 ml-4">Welcome to your Calendar App</h1>
                    <p class ="text-2xl ml-4 mb-1">{{ date }}</p>
                    <p class ="text-xl ml-4 mb-2">This Week</p>
                    <!-- Table not completed, after implementation of calendars can we add context to the table -->
                    <table class="fixed relative mb-5 ml-2" style="max-width: 1000px;">
                        <thead>
                            <col width="150px" />
                            <col width="150px" />
                            <col width="150px" />
                            <col width="150px" />
                            <col width="150px" />
                            <col width="150px" />
                            <col width="150px" />
                            <tr>
                                <th class="border border-slate-300">Monday</th>
                                <th class="border border-slate-300">Tuesday</th>
                                <th class="border border-slate-300">Wednesday</th>
                                <th class="border border-slate-300">Thursday</th>
                                <th class="border border-slate-300">Friday</th>
                                <th class="border border-slate-300">Saturday</th>
                                <th class="border border-slate-300">Sunday</th>
                            </tr>
                        </thead>
                        <!-- everything in one cell and same row
                        <tbody>
                            <tr>
                                {% for day in week_days %}
                                    <td>
                                        {% for event in events_this_week %}
                                            {% if event.start_date_time.date == day %}
                                                <div class="text-center">{{ event.description }}</div>
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                {% endfor %}
                            </tr>
                        </tbody>
                        -->
                        <!--everything is in its own rows but also own cells
                        <tbody>
                            {% for event in events_this_week %}
                                <tr>
                                    {% for day in week_days %}
                                        {% if event.start_date_time.date == day %}
                                            <td><div class="text-center mt-1 mb-1">{{ event.description }}</div></td>
                                        {% else %}
                                            <td></td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    -->    
                    </table>
                    <div class="bg-gray-200 p-4 rounded shadow-md ml-2 mb-5" style="max-width: 1000px; overflow-y: auto; overflow-x: auto;;">
                        <h2 class="text-2xl font-semibold mb-2">Display Calendars</h2>

                        {% if calendars %}
                            {% for c in calendars %}
                            <div class="flex items-center mb-2">
                                <input type="checkbox" id="calendar1" class="form-checkbox h-5 w-5 text-blue-500 mr-2">
                                <label for="calendar1" class="text-gray-700">{{ c.name }}</label>
                            </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div>
                    <div class="bg-gray-200 p-4 rounded shadow-md max-w-lg mb-6">
                        <h2 class="text-2xl font-semibold mb-2">My Notifications</h2>
                        <p>Reminders and invitation for events</p>
                        <p>Click <a class="hover:text-indigo-700" href="{% url 'app:notifications' %}">here</a> to view all! </p>
                    </div>
                    <div class="bg-gray-200 p-4 rounded shadow-md max-w-lg mb-6">
                        <h2 class="text-2xl font-semibold mb-2">My Events</h2>
                        <p>Create and search for your events</p>
                        <p>Click <a class="hover:text-indigo-700" href="{% url 'app:events' %}">here</a> to view all! </p>
                    </div>
                    <div class="bg-gray-200 p-4 rounded shadow-md max-w-lg mb-6">
                        <h2 class="text-2xl font-semibold mb-2">Next Event</h2>
                        <p>Your next event is in {{ hours_until_next_event }} hours and {{ minutes_until_next_event }} minutes</p>
                        <div class="bg-gray-300 p-4 rounded shadow-md max-w-md mb-2">
                            <p>Title: {{next_event.description}}</p>
                            <p>Location: {{ next_event.location_latitude }}, {{ next_event.location_longitude }}</p>
                            <p>Time, Date: {{next_event.start_date_time.time}}, {{next_event.start_date_time.date}}</p>
                        </div>
                    </div>
                </div>
            </div>
            
        {% else %}
            <!-- Logged in, but has not created a calendar -->
            <div class="text-center">
                <a href="{% url 'app:calendars' %}">
                    <button class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-5 px-10 border border-gray-400 rounded shadow text-2xl ml-4">
                        Create A Calendar!
                    </button>
                </a>
            </div>
        {% endif %}
    <!-- If not logged-in, we can add more if wanted -->
    {% else %}
        <div class="mx-auto">
            <p> You're not logged in, <a class="hover:text-indigo-700" href="{% url 'app:register' %}"> Register now!</a> </p>
        </div>
    {% endif %}
        
</div>
{% endblock %}
