{% extends 'app/base.html' %}
{% load template_tags %}
{% block title %}
    Login
{% endblock %}

{% block content %}
<div class="max-w-lg mx-auto p-8 rounded-lg shadow-lg my-5">
    <form method="post" >
        {% csrf_token %}
        {% custom_input "Username" "username" "text" required="True" %}
        {% custom_input "Password" "password" "password" required="True" %}
        {% error_messages messages %}
        {% custom_button "Login" "submit" "bg-blue-500 hover:bg-blue-700" %}
        <a class="hover:text-indigo-700 ml-2" href={% url 'app:register' %}>Register now!</a> </p>
    </form>
</div>
{% endblock %}