{% extends 'app/base.html' %}
{% load static %}

{% block title %}
    Notifications
{% endblock %}

{% block content %}
<script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&callback=initMap" async defer></script>
<script src="{% static 'js/reverseGeocode.js' %}"></script>
<div class="container mx-auto mt-5">
    <div class="flex">
        <div class="bg-gray-300 p-4 rounded shadow-md ml-10" style="min-width: 600px; max-height: 600px; overflow-y: auto; overflow-x: auto;">
            <form class="max-w-md mx-auto" method="GET" action="">
                <div class="pt-2 relative mx-auto text-gray-600">
                    <input type="search" id="default-search" name="search-bar" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Search Events By Name" value="{{ search_query }}" />
                    <button type="submit" class="bg-blue-500 hover:bg-blue-700 absolute right-2 bottom-1 text-white text-sm py-1 px-2 rounded">Search</button>
                </div>
            </form>
            <!-- list the events -->
            {% for event in events %}
                <a href="{% url 'app:notifications' %}?event_id={{ event.id }}">
                    <div class="bg-gray-200 p-4 rounded shadow-md mt-6">
                        <div class="flex">
                            <div class="container mx-auto mt-1">
                                <h2 class="text-xl font-semibold">Event Reminder</h2>
                                <p>Name: {{ event.name }}</p>
                                <p id="event-location_{{event.id}}">Location: {{ event.location_latitude }}, {{ event.location_longitude }} </p>
                                <script>
                                    window.onload = function() {
                                        updateLocation({{ event.location_latitude }}, {{ event.location_longitude }}, "event-location_{{ event.id }}");
                                    };
                                </script>
                            </div>
                            <div class="container mx-auto mt-1">
                                <p> Start Time: {{ event.start_date_time.time }} </p>
                                <p> Date: {{ event.start_date_time.date }} </p>
                                <p> Duration: {{ event.end_date_time|timeuntil:event.start_date_time }} </p>
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
        <div class="ml-10 bg-gray-200 p-6 rounded shadow-md" style="min-width: 750px; max-width: 750px; max-height: 600px; overflow-y: auto; overflow-x: auto;">
            <div class="flex">
                <div>
                    <h2 class="text-3xl font-semibold mb-4">Event Reminder</h2>
                    <!--If an event was clicked on-->
                    <p class="mb-4 text-xl">This is a reminder for {{event_details.name}}</p>
                    <p class="mb-4 text-xl">Located at: {{ event_details.location_latitude }}, {{ event_details.location_longitude }} </p>
                    <p class="mb-4 text-xl">Start Date: {{event_details.start_date_time.date }} </p>
                    <p class="mb-4 text-xl">End Date: {{event_details.end_date_time.date }} </p>
                    <p class="mb-4 text-xl">Start Time: {{event_details.start_date_time.time }} </p>
                    <p class="mb-4 text-xl">End Time: {{event_details.end_date_time.time }} </p>
                    <p class="mb-4 text-xl">Description: {{event_details.description}}</p>
                    <div>
                        <h2 class=" text-xl">Attendees</p>
                        {% for attendee in attendees %}
                            <div class="flex items-center mb-2 text-xl">
                                <img src="{{ attendee.profile_picture.url }}" class="rounded-full w-6 h-6" alt="{{ attendee.user.username }} Profile Picture">
                                <span class="ml-2">{{ attendee.user.username }}</span>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
