{% extends 'app/base.html' %}

{% block title %}
    Profile
{% endblock %}

{% block content %}
<div class="container mx-auto mt-5">
    <div class="max-w-lg mx-auto bg-white p-8 rounded-lg shadow-lg relative">
        <h2 class="text-2xl font-bold mb-4 ">Current Profile Display</h2>
        <div class="mb-4">
            <span>
            {% if profilePhoto %}
                    <img src="{{ profilePhoto }}" class="mb-4 inline-block rounded-full h-20 w-20  mx-auto">
            {% endif %}
            </span>
            <span class="inline-flex block text-gray-700 font-bold text-lg mb-2"><hr>{{user.username}}<span>
            </a>
            <a href="{% url 'app:profile_change' %}">
                <button type="button" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded absolute right-5 bottom-5 ">Upload New Photo</button>
            </a>
        </div>
    </div>
    <br><br><br>
    <div class="max-w-lg mx-auto bg-white p-8 rounded-lg shadow-lg">
        <h2 class="text-2xl font-bold mb-4">Other Actions:</h2>
        <div class="mb-4">
            <a href="{% url 'app:password_change' %}"">
                <button type="button" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Change Password</button>
            </a>
            <a href="{% url 'auth_password_change' %}"">
                <button type="button" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Delete Account</button>
            </a>
        </div>
    </div>
</div>

<div class="container mx-auto mt-5">
    <div class="max-w-lg mx-auto bg-white p-8 rounded-lg shadow-lg">
        <h2 class="text-2xl font-bold mb-4">Your Details</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="username">Username</label>
                <input type="text" name="username" id="username" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" value="{{ user.username }}">
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="email">Email</label>
                <input type="email" name="email" id="email" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" value="{{ user.email }}">
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="first_name">First Name</label>
                <input type="text" name="first_name" id="first_name" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" value="{{ user.first_name }}">
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="last_name">Last Name</label>
                <input type="text" name="last_name" id="last_name" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" value="{{ user.last_name }}">
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="date_of_birth">Date of Birth</label>
                <input type="date" name="date_of_birth" id="date_of_birth" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" value="{{ profile_form.instance.date_of_birth|date:'Y-m-d' }}">
            </div>
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Save Changes</button>
        </form>
    </div>
</div>

{% endblock %}