
/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.wrapper {
  max-width: 800px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.header,
.calendar-header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.view-options button {
  background: none;
  border: 1px solid #333;
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
}
.calendar {
  padding: 20px;
}
.weekdays,
.days {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.weekdays li,
.days li {
  width: calc(100% / 7);
  padding: 5px 0;
}
.days li {
  cursor: pointer;
  position: relative;
}
.days li.inactive {
  color: #ccc;
}
.month-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
.month-navigation .material-symbols-rounded {
  cursor: pointer;
  font-size: 28px;
  user-select: none;
  margin: 0 15px;
}
.current-date {
  font-size: 24px;
  font-weight: bold;
}
.view-options button.active {
  background-color: #333;
  color: white;
}
