{% load template_tags %} 
{% load static %} 
<form class="w-full" method="post">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        {% csrf_token %}
        <div>
            {% custom_input "Event Name" "name" "text" required="True" %} 
            {% custom_textarea "Description" "description" required="True" %}
            
            {% custom_input "Attendees" "searchInput" "text" placeholder="Search" %}
            <div id="attendeeList" class="border rounded-md overflow-y-auto max-h-48">
                {% for attendee in form.attendees.field.queryset %}
                    {% if attendee != user.userprofile %}
                        <label class="flex items-center space-x-2 px-4 py-2">
                            <input type="checkbox" name="attendees" value="{{ attendee.id }}" id="id_attendee_{{ attendee.id }}" class="rounded-full w-6 h-6">
                            <img src="{{ attendee.profile_picture.url }}" class="rounded-full w-6 h-6" alt="{{ attendee.user.username }} Profile Picture">
                            <span>{{ attendee.user.username }}</span>
                        </label>
                    {% endif %}
                {% endfor %}
            </div>
            {% custom_input "StartTime" "start_date_time" "datetime-local" %}
            {% custom_input "End Time" "end_date_time" "datetime-local" %}
        </div>
        <div>
            {% custom_input "Search for a place" "pac-input" "text" input_class="controls" div_class="search-container"%}
            <div
                id="map"
                style="height: 400px"
                class="mb-4 rounded-lg"
            ></div>
            {% custom_input "Latitude" "location_latitude" "text" "55.873" hidden="True" %} 
            {% custom_input "Longitude" "location_longitude" "text" "-4.289" hidden="True" %} 
        </div>
    </div>
    {% error_messages messages %}
    <div class="flex justify-center">
        {% custom_button "Create Event" "submit" "bg-blue-500 hover:bg-blue-700" %}
    </div>

</form>
<script>
    // Get the input field and the combined list of attendees
    var input = document.getElementById('searchInput');
    var attendeeList = document.getElementById('attendeeList');

    // Event listener for search input
    input.addEventListener('input', filterAttendees);

    // Function to filter attendees based on search input
    function filterAttendees() {
        var filter = input.value.toUpperCase();
        var labels = attendeeList.getElementsByTagName('label');

        for (var i = 0; i < labels.length; i++) {
            var label = labels[i];
            var txtValue = label.textContent || label.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                label.style.display = "";
            } else {
                label.style.display = "none";
            }
        }
    }
</script>
<script>
    function initMap() {
        var uni = {
            lat: parseFloat(
                document.getElementById("location_latitude").value
            ),
            lng: parseFloat(
                document.getElementById("location_longitude").value
            ),
        };
        var map = new google.maps.Map(document.getElementById("map"), {
            zoom: 13,
            center: uni,
            mapTypeId: "satellite",
        });

        var marker = new google.maps.Marker({
            position: uni,
            map: map,
            draggable: true,
        });

        marker.addListener("dragend", function (event) {
            document.getElementById("location_latitude").value =
                event.latLng.lat().toString();
            document.getElementById("location_longitude").value =
                event.latLng.lng().toString();
        });

        var input = document.getElementById("pac-input");

        var searchBox = new google.maps.places.SearchBox(input);

        map.addListener("bounds_changed", function () {
            searchBox.setBounds(map.getBounds());
        });

        searchBox.addListener("places_changed", function () {
            var places = searchBox.getPlaces();

            if (places.length == 0) {
                return;
            }

            marker.setMap(null);

            places.forEach(function (place) {
                if (!place.geometry) {
                    console.log("Returned place contains no geometry");
                    return;
                }
                var location = place.geometry.location;
                marker = new google.maps.Marker({
                    position: location,
                    map: map,
                    title: place.name,
                    draggable: true,
                });
                map.setCenter(location);
                document.getElementById("location_latitude").value =
                    location.lat().toString();
                document.getElementById("location_longitude").value =
                    location.lng().toString();

                marker.addListener("dragend", function (event) {
                    input.value = "";
                    document.getElementById("location_latitude").value =
                        event.latLng.lat().toString();
                    document.getElementById("location_longitude").value =
                        event.latLng.lng().toString();
                });
            });
        });
    }
</script>
<script
    async
    defer
    src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&libraries=places&callback=initMap"
></script>